<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>

    <title>Configuration</title>
        <component name="sw-entity-multi-id-select">
            <name>customerGroups</name>
            <entity>customer_group</entity>
            <label lang="en-GB">Customer group</label>
            <label lang="de-DE">Kundengruppe</label>
            <helpText lang="en-GB">Select the customer group for which you want not to activate the Age Checker</helpText>
        </component>
        <title>Age checker</title>
        <input-field type="text">
            <name>apiKey</name>
            <label>AgeChecker.net API Key</label>
            <defaultValue></defaultValue>
        </input-field>
    </card>

</config>
