{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <div class="text-center">
        <h1>Temporary denied</h1>
        <p>Contact customer service: <a href="http://google.com"></a></p>
    </div>
{% endblock %}